<div class="mdc-toolbar mdc-elevation--z4 mdc-elevation-transition">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons">menu</a>
            <span class="mdc-toolbar__title">Four</span>
        </section>
        <section class="mdc-ripple-surface mdc-ripple-surface--primary mdc-toolbar__section mdc-toolbar__section--align-left mdc-toolbar__section--shrink-to-fit">
            <a routerLink="/movies" routerLinkActive="active">Movies</a>
        </section>
        <section class="mdc-ripple-surface mdc-ripple-surface--primary mdc-toolbar__section mdc-toolbar__section--align-left mdc-toolbar__section--shrink-to-fit">
            <a routerLink="/user" routerLinkActive="active">User</a>
        </section>
        <section class="mdc-ripple-surface mdc-ripple-surface--primary mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
            <a routerLink="/search" aria-label="Search" alt="Search">Search</a>
        </section>
    </div>
</div>
<!--
<nav>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/user" routerLinkActive="active">User</a>
</nav> -->
<!--
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
    </div>
</div>
-->
<!-- <div class="mdc-layout-grid">     <div class="mdc-layout-grid__cell"> -->
<div id="routerOutlet">
    <router-outlet></router-outlet>
</div>
<!--
    
<div class="mdc-layout-grid">
    <div class="mdc-grid-list mdc-grid-list--tile-aspect-16x9">
        <ul class="mdc-layout-grid__cell mdc-grid-list__tiles">
            <li class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
            <li class="mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></li>
        </ul>
    </div>
</div>

<div class="my-grid mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="my-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">4</div>
        <div class="my-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">4</div>
        <div class="my-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">4</div>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-grid-tile"><img src="http://via.placeholder.com/320x360" /></div>
    </div>
</div>

-->

<div class="footer">
    <div class="footer--container">
        Footer -- Testing
    </div>
</div>