/*Youcanaddglobalstylestothisfile,andalsoimportotherstylefiles*/

html {
    position: relative;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

nav {
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

body {
    padding: 0px;
    margin: 0px;
    /* background-color: #e0e0e0; */
    background-color: #fafafa;
}