/*Youcanaddglobalstylestothisfile,andalsoimportotherstylefiles*/
a{
    color:white;
    text-decoration:none;
    padding-left:5px;
    padding-right:5px;
}
nav{
    background-color:black;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
}
body{
    padding:0px;
    margin:0px;
}
.my-card-container .mdc-card {
  height: 350px;
  width: 350px;
}
