<h2>MOVIES</h2>

<div *ngIf="movie" class="my-card-container mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-card">
        <section class="mdc-card__media"><img src="http://via.placeholder.com/250x150"></section>
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">{{movie.name}}</h1>
            <h2 class="mdc-card__subtitle">{{movie.id}}</h2>
        </section>
        <section class="mdc-card__supporting-text">
            <label>Name: </label>
            <input [(ngModel)]="movie.name" placeholder="name" />
        </section>
        <section class="mdc-card__actions">
            <button (click)="gotoMovies()" class="mdc-button mdc-card__action mdc-button--raised">Back</button>
            <button (click)="editMovies()" class="mdc-button mdc-card__action">Edit</button>
        </section>
    </div>
</div>
<!--
<div *ngIf="movie">
    <h3>"{{ movie.name }}"</h3>
    <div>
        <label>Id: </label>{{ movie.id }}</div>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="movie.name" placeholder="name" />
    </div>
    <p>
        <button (click)="gotoMovies()">Back</button>
    </p>
</div>
-->
<button routerLink="/movies/new" class="mdc-button mdc-button--raised">New Movies</button>