#parallax {
    position: relative;
    height: 750px;
    overflow: hidden;
    background-color: red;
}

#parallax-content {
    position: absolute;
    right: 0;
    left: 0;
    top: 15em;
    padding: 1em;
    margin: auto;
    width: 300px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    color: white
}